 <%- include('../layouts/userLayout/header.ejs')%> 

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">




 <main> 
        <!-- page-banner-area-start -->
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title mt-2" style="color: black;"><i class="fa-solid fa-cart-shopping"></i>  Checkout</h4>
                        <div class="breadcrumb-two">
                            <nav>
                                <nav class="breadcrumb-trail breadcrumbs">
                                    <ul class="breadcrumb-menu">
                                        <li class="breadcrumb-trail">
                                            <a href="/"><span style="color: blue;">Home</span></a>
                                        </li>
                                        <li class="trail-item">
                                            <span style="color: black;">Checkout</span>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- checkout-area-start -->
        <section class="checkout-area pb-85">
            <div class="container">
                <form action="#">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="checkbox-form">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-md-12">                                      

                                    <% if(userAddress) {%>
                                    <div class="container">
                                        
                                        <h3>Select Address:</h3>
                                        <form>
                                           
                                            <%
                                                if(userAddress.address && userAddress.address.length > 0) { 
                                                userAddress.address.forEach(address => {
                                                            
                                            %>
                                            
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="addressRadio" id="address1" value="<%=address._id%>">
                                                <label class="form-check-label" for="address1">
                                                    <div class="card text-white bg-secondary mb-3" style="width: 20rem; height: 17rem;">
                                                        <div class="card-header"><%= address.name %> </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="color: white;"><%=address.address %></h5>
                                                        
                                                            <span><%=address.locality %> ,<%=address.landmark %></span><br>
                                                            <span><%=address.city %></span> <span> -City</span><br>
                                                            <span><%=address.state %></span><br>
                                                            <span>Phone : </span><span><%=address.phone %></span><br>
                                                            <span>Pincode : </span><span><%=address.pincode %></span><br>
                                                            <span><%=address.addressType %></span><br>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        <%
                                            });
                                                }
                                        %>
                                            </form>
                                        </div>  
                                        <% } %>     
                                        

                                    
                                    </div>                            
                                </div>
                                <div class="different-address">
                                    <div class="ship-different-title">
                                        <h3>
                                            <label>Ship to a different address?</label>
                                            <input id="ship-box" type="checkbox">
                                        </h3>
                                    </div>
                                    <div id="ship-box-info">
                                         <form > 
                                        <div class="row">  
                                                                                   
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                    <label>Full Name<span class="required">*</span></label>
                                                    <input type="text" id="nameAddress" placeholder="Enter fullname" name="fullname" required>
                                                    <span id="nameError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Phone <span class="required">*</span></label>
                                                    <input type="text" id="userphone" placeholder="Enter Valid number" name="phone" required>
                                                    <span id="phoneError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>Address<span class="required">*</span></label>
                                                    <input type="text" id="useraddress" name="address" required>
                                                    <span id="addressError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>locality <span class="required">*</span></label>
                                                    <input type="text" id="userLocality" placeholder="Street address" name="locality" required>
                                                    <span id="localityError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Landmark <span class="required">*</span></label>
                                                    <input type="text" id="userLandmark" placeholder="Enter near landmark" name="landmark" required>
                                                    <span id="landmarkError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>District/City <span class="required">*</span></label>
                                                    <input type="text" id="userCity"  name="city" required>
                                                    <span id="cityError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>State<span class="required">*</span></label>
                                                    <input type="text" id="userState" name="state" required>
                                                    <span id="stateError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Pincode / Zip <span class="required">*</span></label>
                                                    <input type="text" id="userPincode" placeholder="Enter 6 digit Pincode" name="pincode" required>
                                                    <span id="pincodeError" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Address Type <span class="required">*</span></label>
                                            
                                                    <select id="addressType"  name="inputAddressType" >
                                                        <option value="Home" selected> Home </option>
                                                        <option value="Office"> Office </option>
                                                    </select>
                   
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary" onclick="addAddress()" >Save & Proceed</button>
                                        
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <% if(stock) { %>   
                        <div class="col-lg-6 " style="margin-top: 3rem; width: 38rem;">
                            <div class="your-order mb-30 ">
                                <h3>Your order</h3>
                                <div class="your-order-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name" style="color: blue; ">Product</th>
                                                <th class="product-quantity" style="color: blue;text-align: center; ">Quantity</th>
                                                <th class="product-total  myClass" style="color: blue;">Total</th>
                                            </tr>
                                        </thead>
                                       
                                        
                                            <tbody>

                                                          
                                                            
                                                <% if(stock ) { %>
                                               <% stock.forEach(element=> { %> 
                                                    
                                                    <% const product = element.productVariantId.productID;%>
                                                    <% const variant = element.productVariantId ; %>
                                                    <% const quantity = element.quantity;%>
                                                    
                                                    
 

                                            <tr class="cart_item">
                                                <td class="product-name myClass" style="color: black; "> 
                                                  <img src="/uploaded_Images/<%=variant.imageName[1] %>" alt="" class="img-fluid" style="width: 4rem; " > 
                                                   <%= product.name %> <br>-<%= variant.variantName %> </td>                                                                                             
                                                <td class="product-quantity myClass" style="text-align: center; color: black;" ><%=quantity %> Pcs</td>  
                                                <% const sum = variant.price * quantity %>                                                  
                                                <td class="product-total myClass"><span class="amount" style="color: green;"><%= sum  %> </span> </td>
                                                <s style="display: none;" hidden id="unitPrice<%=variant._id%>"><%= variant.price%></s>
                                                                                                       
                                            </tr>
                                            
                                            
                                             <%})  }%>  
                                           
                                            </tbody>
                                            <% if(subTotal && total) { %>
                                        <tfoot>
                                            
                                            <tr class="cart-subtotal">
                                                <th style="color: blue; font-weight: bold;">Cart Subtotal</th>
                                                <td><span class="amount" style="color: #0be015; font-weight: bold;"><%= subTotal %></span></td>
                                            </tr>

                                            <tr class="shipping">`
                                                <th style="color: blue; font-weight: bold;">Shipping</th>
                                                <% if( subTotal > 10000) { %>
                                                    <td> <span class="amount" style="color: #e6710a; font-weight: bold;"> free shipping </span>  </td>
                                                <%}else{%>
                                                    <td> <span class="amount" style="color: #0be015; font-weight: bold;"> 60.00 </span>
                                                          <br><span>Above 10,000 /- free shipping</span>
                                                    </td>
                                                <%}%>

                                            </tr>

                                            <tr class="order-total" id="trDiscount" >
                                             <th style="color: blue; font-weight: bold;" >Coupon discount </th>                  
                                                <td><strong><span class="amount" id="couponSpan" > NILL </span> </strong> </td>                                               
                                            </tr>

                                            <% if(offerDiscount){ %>

                                            <tr class="cart-subtotal" id="" >
                                             <th style="color: blue; font-weight: bold;" >Offer discount </th>                  
                                                <td><strong><span class="amount" id="" style="font-size: 1rem;" >- <%=offerDiscount%> </span> </strong> </td>                                               
                                            </tr>

                                            <% } %>


                                            
                                            <tr class="order-total">
                                             <th style="color: blue; font-weight: bold;" >Order Total</th>                  
                                                <td><strong><span class="amount" id="couponTotalSpan" ><%= total %></span>  <span>&#8377;</span> </strong> </td>                                               
                                            </tr>
                                        </tfoot>
                                        <% } %>
                                    </table>
                                </div>

                                <%// Modal %>
                                 
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Avilable Coupons</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <% if(coupons && coupons.length>0){ %>

                                             <%   coupons.forEach(coupon => {  %>
                                              
                                        <div class="modal-body">
                                            <div class="coupon-container">
                                             <div class="coupon-card">
                                                <div class="coupon-header">
                                                    <h5>Coupon Code: <%= coupon.couponCode %> </h5>
                                                   
                                                    <button type="button" class="copy-button" data-code="<%= coupon.couponCode %>">
                                                        <i class="fa-regular fa-copy"></i> Copy
                                                    </button>
                                                </div>
                                                <div class="coupon-body">
                                                    <p class="description">
                                                        <%= coupon.description %>
                                                    </p>
                                                    <p class="discount">Discount: <strong>
                                                            <%= coupon.discountPercentage %>%
                                                        </strong></p>
                                                    <p class="min-purchase">Min Spend: &#8377; <%= coupon.minPurchaseAmount %>
                                                    </p>
                                                    <p class="max-redeem">Max Redeemable: &#8377; <%= coupon.maxDiscountAmount %>
                                                    </p>
                                                    <p class="expiry-date" style="color: red;">
                                                        Expires on: <%= coupon.expiryDate %>                            
                                                    </p>
                                                </div>
                                            </div>
                                            
                                                </div>
                                                </div>

                                                <% }) }else{ %>
                                                    <div class="modal-body">
                                            
                                                        <div class="alert alert-danger" role="alert">
                                                            Sorry No coupon Avilable!
                                                        </div>
                                            
                                                    </div>
                                                    <%}%>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                               
                                <div class="order-button ">
                                    <div class="coupon" id="applyCouponDiv">
                                        <input id="coupon_code" class="input-text  mb-2" style="width: 27rem;"
                                            placeholder="Enter code . Coupons are case sensitive" type="text">
                                
                                        <button class="btn btn-outline-primary  mb-2" type="button" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" style="width: 27rem;" id="viewCoupon">View coupons</button>
                                
                                        <button class="tp-btn-h1 mb-2 " type="button" onclick="applyCoupon('<%=total%>')" style="width: 27rem;"
                                            id="applyCoupnBtn">Apply coupon</button>
                                        <a href="/checkout" style="display: none; " id="couponCancel"><button type="button" style="width: 27rem;"
                                                class="btn btn-outline-danger mb-2 " id="couponCancel">Cancel coupon</button></a>
                                
                                    </div>
                                
                                
                                    <button type="button" id="choosePaymentBtn" onclick="verifyAddress()" class="tp-btn-h1" style="width: 27rem;">Choose
                                        Payment</button>
                                    <br>
                                    <div class="order-button-payment mt-20" id="backtoCartBtn" style="display: none;">
                                        <a href="/cart"><button type="button" class="tp-btn-h1"> Back to Cart </button></a>
                                    </div><br>
                                    <button type="button" id="buttonCOD" class="btn btn-outline-primary w-50">Cash on Delivery</button><br>
                                    <button type="button" id="buttonONLINE" class="btn btn-outline-success w-50"> Online Payments</button>
                                    <% if(walletBalance) {%>
                                        <button type="button" id="buttonWALLET" class="btn btn-outline-info mt-4 w-50"> Pay with Wallet</button>
                                        <p id="walletBalance">Wallet balance : <%=walletBalance.balance%>
                                        </p>
                                        <%}%>
                                </div>


                            </div>
                        </div>
                        <% } %>
                    </div>
                </form>
            </div>
        </section>
        <!-- checkout-area-end -->
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const totalField = document.getElementById('couponTotalSpan')
        const totatAmount = parseInt(totalField.textContent)
        if (totatAmount > 5000 && totatAmount < 40000) {

            cashButton.style.display='none';
            onlineButton.style.display='block';
           
        }
    })
    
    </script>

<%- include('../layouts/userLayout/footer.ejs')%>
<!--RAZORPAY-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="assets/js/digiCart/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>