<%- include('../layouts/userLayout/header.ejs')%> 

<main>

        <!-- slider-area-start -->
        <div class="slider-area light-bg-s pt-60">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="swiper-container slider__active pb-30">
                            <div class="slider-wrapper swiper-wrapper">
                                <div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center" data-background="assets/img/slider/02-slide-1.jpg">
                                    <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">Gaming Headset<br> With Low Latency</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.5s">Special Discounts On Products & Free Shipping</p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.15s" href="/shopall?search=Headphones" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div>
                                </div><!-- /single-slider -->
                                <div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center" data-background="assets/img/slider/watch.jpg">
                                    <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Smart Watches<br> From Top Brands</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.5s">Exclusive Discounts On Products & Free Shipping</p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.9s" href="/shopall?search=Smart Watch" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div>
                                </div><!-- /single-slider -->
                                <div class="single-slider b-radius-2 swiper-slide slider-height-2 d-flex align-items-center" data-background="assets/img/slider/peakpx.jpg">
                                    <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Smart Phones<br>From Top Brands</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.5s">Special Discount & Free Shipping...</p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.10s" href="/shopall?search=Smart Phones" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div>
                                </div><!-- /single-slider -->
                                <div class="main-slider-paginations"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img b-radius-2">
                                        <a href="/shopall?search=Headphones"><img src="assets/img/banner/banner-10.jpg" alt=""></a>
                                    </div>
                                    <div class="banner__content banner__content-2">
                                        <h6><a href="/shopall?search=Headphones" >Gaming <br> Head Phones</a></h6>
                                        <p>Headphone & Audio</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img b-radius-2">
                                        <a href=""><img src="assets/img/banner/banner-11.jpg" alt=""></a>
                                    </div>
                                    <div class="banner__content banner__content-2">
                                        <h6><a href="/shopall?search=Smart Phones">Smart <br> Phones</a></h6>
                                        <p>Cellphone & Tablets</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img b-radius-2">
                                        <a href=""><img src="assets/img/slider/watch.jpg" alt=""></a>
                                    </div>
                                    <div class="banner__content banner__content-2">
                                        <h6><a href="/shopall?search=Smart Watch">Smart <br> Watches</a></h6>
                                        <p>Watches & Bands</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img b-radius-2">
                                        <a href=""><img src="assets/img/slider/helo.jpeg" alt=""></a>
                                    </div>
                                    <div class="banner__content banner__content-2">
                                        <h6><a href="/shopall?search=Laptop">Laptops <br></a></h6>
                                        <p>Laptop & Accessories</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-area-end -->



        <!-- trending-product-area-start -->
        <section class="trending-product-area light-bg-s pt-25 pb-15">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Hot Trending Products</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="/shopall">See All Product <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--start form here-->
                <div class="row">
                      <!--start row form here-->
                    <% 
                      
                      if(allProducts && allProducts.length > 0){ 
                       
                        for(let i= 0; i<6; i++) {

                            if(allProducts[i].variants && allProducts[i].variants.length > 0 ){ 
                    %>

                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                        <div class="product__item product__item-2 b-radius-2 mb-20">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="/product-details?id=<%= allProducts[i]._id %>&vId=<%= allProducts[i].variants[0]._id %>">

                                        <% if(allProducts!== 'undefined') {%>
                                        <img src="/uploaded_Images/<%= allProducts[i].imageName %>" alt="product">
                                        <% } %>
                                    </a>
                                </div>
                                <div class="product__offer">
                                <span class="discount">TOP DEALS</span>
                                </div>
                               
                            </div>
                            <div class="product__content product__content-2">
                                <h6><a><%= allProducts[i].name %></a></h6>
                                <div class="rating mb-5 mt-10">
                                    <ul>
                                        <li><a href=""><i class="fal fa-star"></i></a></li>
                                        <li><a href=""><i class="fal fa-star"></i></a></li>
                                        <li><a href=""><i class="fal fa-star"></i></a></li>
                                        <li><a href=""><i class="fal fa-star"></i></a></li>
                                        <li><a href=""><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price">
                                    <span>Start from : <%= allProducts[i].variants[0].price %>&#x20B9</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" id="addToCart" onclick="addToCart('<%= allProducts[i].variants[0]._id %>')"
                                     class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                    <% } 
                    }
                }%>
                    <!--end of row-->


                   
                </div>
            </div>
        </section>
        <!-- trending-product-area-end -->

        <!-- banner__area-start -->
        <section class="categories__area light-bg-s pt-20 pb-10">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Popular Categories</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="">See All Product <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                     <% if(allCategory && allCategory.length > 0) {%>
                   
                        <% for(let i =0; i < 6; i++) {%>
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <div class="categories__item p-relative w-img mb-30">
                            <div class="categories__img b-radius-2">
                                <a href="/shopall?search=<%=allCategory[i].name %>"><img src="/uploaded_Images/<%= allCategory[i].imageUrl %>" 
                                 alt="Categorie Image" ></a>
                            </div>
                            <div class="categories__content">
                                <h6><a href=""><%= allCategory[i].name%></a></h6>
                                
                            </div>
                        </div>
                    </div>
                   
                    <% 
                     }
                        } %>
                </div>
            </div>
        </section>
  
        <section class="banner__area light-bg-s pt-40 pb-10">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img b-radius-2">
                                <a href="/shopall?search=macbook"><img src="assets/img/banner/banner-14.jpg" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-2">
                                <h6><a href="/shopall?search=macbook">Apple  <br> Macbook Air”</a></h6>
                                <p class="sm-p">Up To -60% off</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img b-radius-2">
                                <a href="/shopall?search=iphone"><img src="assets/img/banner/iphonecover.jpeg" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-2">
                                <h6><a href="/shopall?search=iphone">Apple <br>IPhone Series</a></h6>
                                <p class="sm-p">Up To -60% off</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="banner__item p-relative mb-30 w-img">
                            <div class="banner__img b-radius-2">
                                <a href="/shopall?search=Speakers"><img src="assets/img/banner/marshall.jpeg" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-2">
                                <h6><a href="/shopall?search=Speakers">Speakers </a></h6>
                                <p class="sm-p">Up To -50% off</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner__area-end -->

       

        <!-- moveing-text-area-start -->
        <section class="moveing-text-area">
            <div class="container">
                <div class="ovic-running">
                    <div class="wrap">
                        <div class="inner">
                            <p class="item">Free Delivery - Above Order 10,000/-   |   7 Days Return Policy </p>
                            <p class="item">24 x 7 Service / All Inida Support / Exclusive Products and Offers </p>
                            <p class="item">DigiCart Ecom - Where Top tech finds, at your fingertips.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- moveing-text-area-end -->

        <!-- recomand-product-area-start -->
        <section class="recomand-product-area light-bg-s pt-50 pb-15">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Latest Products</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="/shopall">See All Product <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <% 
                    
                    if(latestProducts && latestProducts.length> 0){  

                        for(let i= 0; i<6; i++) {

                         if(latestProducts[i].variants && latestProducts[i].variants.length > 0 ){      
                            
                    %>
                            
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                                <div class="product__item product__item-2 b-radius-2 mb-20">
                                    <div class="product__thumb fix">
                                        <div class="product-image w-img">
                                            <a
                                      href="/product-details?id=<%= latestProducts[i]._id %>&vId=<%= latestProducts[i].variants[0]._id %>">
                                                <% if(latestProducts!=='undefined' ) {%>
                                                    <img src="/uploaded_Images/<%= latestProducts[i].imageName %>" alt="product">
                                                    <% } %>
                                            </a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">NEW ARRIVAL</span>
                                        </div>
                    
                                    </div>
                                    <div class="product__content product__content-2">
                                        <h6><a href="">
                                                <%= latestProducts[i].name %>
                                            </a></h6>
                                        <div class="rating mb-5 mt-10">
                                            <ul>
                                                <li><a href=""><i class="fal fa-star"></i></a></li>
                                                <li><a href=""><i class="fal fa-star"></i></a></li>
                                                <li><a href=""><i class="fal fa-star"></i></a></li>
                                                <li><a href=""><i class="fal fa-star"></i></a></li>
                                                <li><a href=""><i class="fal fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price">
                                            <span>Start from : <%= latestProducts[i].variants[0].price %>&#x20B9</span>
                                        </div>
                                    </div>
                                    <div class="product__add-cart text-center">
                                        <button type="button" id="addToCart" onclick="addToCart('<%= latestProducts[i].variants[0]._id %>')"
                                            class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                    <% } } }%>

                   
                </div>
            </div>
        </section>
        <!-- recomand-product-area-end -->

 

        <!-- brand-area-start -->
        <section class="brand-area light-bg-s pb-60">
            <div class="container custom-conatiner">
                <div class="brand-slider brand-slider-2 swiper-container pt-35 pb-30">
                    <div class="swiper-wrapper">
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-1.jpg" alt="brand"></a>
                        </div>
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-2.jpg" alt="brand"></a>
                        </div>
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-3.jpg" alt="brand"></a>
                        </div>
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-4.jpg" alt="brand"></a>
                        </div>
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-5.jpg" alt="brand"></a>
                        </div>
                        <div class="brand-item w-img swiper-slide">
                            <a ><img src="assets/img/brand/brand-6.jpg" alt="brand"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- brand-area-end -->

        <!-- features-2__area-start -->
        <section class="features-2__area d-ddark-bg">
            <div class="container custom-conatiner">
                <div class="features-2__lists pt-25 pb-25">
                    <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-truck"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>FREE DELIVERY</h6>
                                    <p>For all orders over 10,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-money-check"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>SAFE PAYMENT</h6>
                                    <p>100% secure payment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-comments-alt"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>24/7 HELP CENTER</h6>
                                    <p>Delicated 24/7 support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-hand-holding-usd"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>SHOP WITH CONFIDENCE</h6>
                                    <p>If goods have problems</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fad fa-user-headset"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>FRIENDLY SERVICES</h6>
                                    <p>30 day satisfaction guarantee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features-2__area-end -->
        


    </main>




<%- include('../layouts/userLayout/footer.ejs')%> 


<%/*%>SWEET ALERT2<%*/%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/digiCart/apiCalls.js"></script>
<script src="assets/js/digiCart/home.js"></script>