
<%- include('../layouts/userLayout/header.ejs')%>

<link rel="stylesheet" href="/userAssets/productDetails.css">
<link rel="stylesheet" href="assets/css/sweetToast.css">
<!--FOR IMAGE ZOOMING IMPORTANT !! ONLY WORK IN HEADER SECTION-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script> 

<main>
        <!-- breadcrumb__area-start -->
        <section class="breadcrumb__area box-plr-75">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                                  <li class="breadcrumb-page" aria-current="page"> &nbsp-Product-details</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb__area-end -->

        <!-- product-details-start -->
        <div class="product-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="product__details-nav d-sm-flex align-items-start">
                            <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                                <% if(typeof variants !== 'undefined') { %>
                                <% if(typeof variants.productID !== 'undefined') { %>
                                   
                                        
                                  
                                <li class="nav-item" role="presentation" style="width: 130px; height: 150px; overflow: hidden;">
                                  <button class="nav-link active" id="thumbOne-tab" data-bs-toggle="tab" data-bs-target="#thumbOne" type="button" role="tab" aria-controls="thumbOne" aria-selected="true">
                                      <img src="/uploaded_Images/<%= variants.imageName[0] %>" alt="" class="img-fluid">
                                  </button>
                                </li>   
                                
                                
                                <li class="nav-item" role="presentation" style="width: 130px; height: 150px; overflow: hidden;">
                                  <button class="nav-link" id="thumbTwo-tab" data-bs-toggle="tab" data-bs-target="#thumbTwo" type="button" role="tab" aria-controls="thumbTwo" aria-selected="false">
                                    <img src="/uploaded_Images/<%= variants.imageName[1] %>" alt=""class="img-fluid">
                                  </button>
                                </li>
                                <li class="nav-item" role="presentation" style="width: 130px; height: 150px; overflow: hidden;">
                                  <button class="nav-link" id="thumbThree-tab" data-bs-toggle="tab" data-bs-target="#thumbThree" type="button" role="tab" aria-controls="thumbThree" aria-selected="false">
                                    <img src="/uploaded_Images/<%= variants.imageName[2] %>" alt="" class="img-fluid">
                                  </button>
                                </li>
                                
                            </ul>
                            <div class="product__details-thumb" >
                                <div class="tab-content" id="productThumbContent">
                                    
                                     
                                    <div class="tab-pane fade show active" id="thumbOne" role="tabpanel" aria-labelledby="thumbOne-tab">
                                        <div class="product__details-nav-thumb w-img "  id="zoom">
                                            <img src="/uploaded_Images/<%= variants.imageName[0] %>" alt="">
                                        </div>
                                    </div>

                                  
                                    <div class="tab-pane fade" id="thumbTwo" role="tabpanel" aria-labelledby="thumbTwo-tab">
                                        <div class="product__details-nav-thumb w-img " id="zoom2">
                                            <img src="/uploaded_Images/<%= variants.imageName[1] %>" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="thumbThree" role="tabpanel" aria-labelledby="thumbThree-tab">
                                        <div class="product__details-nav-thumb w-img "  id="zoom3">
                                            <img src="/uploaded_Images/<%= variants.imageName[2] %>" alt="">
                                        </div>
                                    </div>
                                   
                                  
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="product__details-content">
                            <h6><%= variants.productID.name  %> – <%= variants.variantName %></h6>
                            <div class="pd-rating mb-10">
                                <ul class="rating">
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                
                            </div>
                            <div class="price mb-10">
                                <span><%=variants.price%> &#x20B9;</span>

                                <% if (offers) { %>
                                    
                                    <p style="color: blue;" ><%=offers.offerName  %> SPECIAL OFFER <br>
                                    Extra <%=offers.discountPercentage %> &#37; Off on this product</p>
                                          
                                <% }else if (categoryOffers)  { %>

                                 <p style="color: blue;" ><%=categoryOffers.offerName  %> SPECIAL OFFER  <br> 
                                    Extra <%=categoryOffers.discountPercentage %> &#37; Off on this product</p>                       
                                     
                                <% } %>     

                                
                                   



                            </div>
                           
                            <div class="features-des mb-20 mt-10">
                                <ul>
                                <% if(variants.productID.category.name == 'Smart Phones') { %>

                                    <li><a href="#"><i class="fas fa-circle"></i>Dual Camera</a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i>5G, Wifi, NFC enabled</a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i>Amoled Display</a></li>

                                <% } %>   
                                    <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound</a></li>
                                    <% if(variants.ram && variants.ram.length >0) {%>
                                    <li><a href="#"><i class="fas fa-circle"></i> Storage <%=variants.ram%>GB RAM &amp; <%=variants.phoneMemory%>GB Phone Memory</a></li>
                                    <% } %>
                                    <li><a href="#"><i class="fas fa-circle"></i> Variant <%= variants.variantName %> </a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i> Color <%= variants.color %> </a></li>
                                </ul>
                            </div>
                            <div class="product-stock mb-20">
                                <h5>Availability: <span id="spanStock<%= variants._id %>">   stock</span></h5>
                            </div>
                            <div class="cart-option mb-15">
                               
                                <a  class="cart-btn cartClass" onclick="addToCart('<%= variants._id %>')" id="addToCart<%= variants._id %>"
                                  data-variantid="<%= variants._id %>" data-stock="<%= variants.stock %>"  data-block="<%= variants.block %>"
                                  >Add to Cart</a>&nbsp;
                                <button type="button" class="cart-btn buyNow" style="background-color: blue; color: white;"
                                onclick="addWishlistFunction('<%= variants._id %>')">ADD TO WISHLIST</button>
                                
                            </div>
                            <div class="details-meta">
                                <div class="d-meta-left">
                                    <% /* %>
                                    <div class="dm-item mr-20">
                                        <a href="" ><i class="fal fa-heart"></i>Add to wishlist</a>
                                    </div>
                                    <% */ %>
                                    <h8 style="margin-right: 15px; color: blue;">variants</h8>

                                    <% if(products && products.variants !== 'undefined'){ %>
                                        <% products.variants.forEach(element => { %>
                                            
                                       
                                    <div class="dm-item" style="margin-left: 10px;">
                                        <a href="/product-details?id=<%= products._id %>&vId=<%= element._id %>">
                                        <img src="/uploaded_Images/<%= element.imageName[0] %>"  class="rounded-3" alt="product image">
                                        <p><%= element.variantName %></p></a>
                                        
                                    </div>

                                    <% }); 
                                     } %>

                                </div>
                                
                            </div>
                            <div class="product-tag-area mt-15">
                                <div class="product_info">
                                    <span class="sku_wrapper">
                                        <span class="title">Brand:</span>
                                        <span class="sku"><%= variants.productID.brand %></span>
                                    </span>
                                    <span class="posted_in">
                                        <span class="title">Categories:</span>
                                        <a href="#"><%=variants.productID.category.name %></a>
                                        
                                    </span>
                                    <span class="tagged_as">
                                        <span class="title">Delivery:</span>
                                        <a href="#">7 Days fast delivery</a>
                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product-details-end -->

        <!-- product-details-des-start -->
        <div class="product-details-des mt-40 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="product__details-des-tab">
                            <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="aditional-tab" data-bs-toggle="tab" data-bs-target="#aditional" type="button" role="tab" aria-controls="aditional" aria-selected="false">Additional information</button>
                                  </li>
                                
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="prodductDesTaContent">
                    <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                        <div class="product__details-des-wrapper">
                            <pre class="des-text mb-35" style=" font-family:Verdana, Geneva, Tahoma, sans-serif ; font-size: 16px; font-weight:500;color: rgb(90, 87, 87); "><%=variants.productID.discription %></pre>
                            <!--///////////////////////////////////////////////////////////////////////////////-->
                            
                            <div class="product-des-section mb-90">
                                <h5 class="des-section mb-30">Get 30% Daily Cash
                                  <br>  Back with Membership Card.</h5>
                                  
                            </div>
                            <div class="row mb-80">
                                <div class="col-xl-6">
                                    <div class="des-single mb-30 text-center">
                                        <div class="features-des-image text-center">
                                            <img src="assets/img/features-product/product-content-2.jpg" alt="">
                                        </div>
                                        <h5 class="des-section">Get 30% Daily Cash
                                            <br>  Back with Membership Card.</h5>
                                        <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="des-single text-center mb-30">
                                        <div class="features-des-image">
                                            <img src="assets/img/features-product/product-content-3.jpg" alt="">
                                        </div>
                                        <h5 class="des-section text-center">Get 70% Daily Cash
                                            <br>  Back with Membership Card.</h5>
                                        <p>Sit amet conse ctetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore  magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                        <div class="product__desc-info">
                            <ul>
                               <li>
                                  <h6>Name</h6>
                                  <span><%=variants.productID.name  %></span>
                               </li>
                               <li>
                                  <h6>Model</h6>
                                  <span><%=variants.variantName %></span>
                               </li>
                               <li>
                                  <h6>Brand</h6>
                                  <span><%=variants.productID.brand  %></span>
                               </li>
                               <li>
                                  <h6>Color</h6>
                                  <span><%=variants.color %> </span>
                               </li>
                               <li>
                                  <h6>Size</h6>
                                  <span><%=variants.size %></span>
                               </li>
                               <% if(variants.ram &&variants.ram.length >0) {%>
                               <li>
                                  <h6>Ram</h6>
                                  <span> <%=variants.ram%>	</span>
                               </li>
                               <li>
                                  <h6>Phone Memory</h6>
                                  <span> <%=variants.phoneMemory%>	</span>
                               </li>
                               <% } %>
                               <% if(variants.productID.category.name == 'Smart Phones') { %>
                                 <li>
                                  <h6>Inside Box</h6>
                                  <span> Handset, USB-C to Lightning Cable, Documentation</span>
                               </li>
                                <li>
                                  <h6>Sim Type</h6>
                                  <span>Dual Sim(Nano + eSIM)</span>          
                                </li>
                                <li>
                                  <h6>Touch Screen </h6>
                                  <span>Yes</span>          
                                </li>
                                <li>
                                  <h6>Sound Enhancements</h6>
                                  <span>Built-in Stereo Speaker</span>          
                                </li>
                                <li>
                                  <h6>Network Type</h6>
                                  <span>5G, 4G VOLTE, 4G, 3G, 2G</span>          
                                </li>
                                <li>
                                  <h6>Wifi</h6>
                                  <span>Yes</span>          
                                </li>
                                <li>
                                  <h6>Nfc</h6>
                                  <span>Yes</span>          
                                </li>
                                <li>
                                  <h6>Camera</h6>
                                  <span>Dual</span>          
                                </li>
                                <% } %>
                               <li>
                                  <h6>Shipping charge</h6>
                                  <span>Standard shipping fee: &#x20B9; 60</span>
                               </li>
                               <li>
                                  <h6>Return & Replacement</h6>
                                  <span>Upto 7 Days from deliverd</span>
                               </li>
                               <li>
                                  <h6>Warranty</h6>
                                  <span>1 Year Brand Warranty </span>
                               </li>
                               
                            </ul>
                         </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- product-details-des-end -->

        <%
         }
        } 
        %>
    </main>

    <!--FOR PRODUCT IMAGE ZOOMING-->

    <script>
        let options11 = {
            width: 500,
            height:500,
            zoomWidth:500,
            zoomPosition:'original',
            sclae:1.5,
            offset:{vertical:20, horizontal:20},
            
        }
        new ImageZoom(document.getElementById("thumbTwo"),options11);

        let options22 = {
            width: 500,
            height:500,
            zoomWidth:500,
            zoomPosition:'original',
            sclae:1.5,
            offset:{vertical:20, horizontal:20},
            
        }
        new ImageZoom(document.getElementById("thumbOne"),options22);

        let options33 = {
            width: 500,
            height:500,
            zoomWidth:500,
            zoomPosition:'original',
            sclae:1.5,
            offset:{vertical:20, horizontal:20},
                   
        }
        
        new ImageZoom(document.getElementById("thumbThree"),options33);
      
   
    </script>
             
   
<%- include('../layouts/userLayout/footer.ejs')%> 

<!--forSweet alert and fetch-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/digiCart/productDetails.js"></script>