<%- include('../layouts/userLayout/header.ejs')%>
<link rel="stylesheet" href="assets/css/sweetToast.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


    <main>
        <!-- breadcrumb__area-start -->
        <section class="breadcrumb__area box-plr-75">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb__area-end -->

        <!-- shop-area-start -->
        <div class="shop-area mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <% if(typeof allCategory !=='undefined' ) {%>
                            <div class="product-widget mb-30">
                                <h5 class="pt-title">Product categories</h5>
                                <div class="widget-category-list mt-20">
                                    <form action="#">
                                        <% allCategory.forEach(element=> { %>

                                            <div class="widget-category">
                                                <input type="radio" onclick="categoryFilter('<%= element.name %>')" name="cat-item">
                                                <label for="cat-item-1">
                                                    <%= element.name %>
                                                </label>
                                            </div>

                                            <% }); %>
                                    </form>
                                </div>
                            </div>
                            <% } %>

                                <div class="product-widget mb-30">
                                    <h5 class="pt-title">Delivery</h5>
                                    <div class="product__color mt-20">
                                        <h6>Assured 7 days delivery</h6>
                                    </div>
                                </div>
                                <div class="product-widget mb-30">
                                    <h5 class="pt-title">Support</h5>
                                    <div class="product__color mt-20">
                                        <h6>24x7 customer support <br><br>
                                            Online tech Assitant <br><br>
                                            7 days return policy <br><br>
                                            All over-india support <br><br>
                                        </h6>
                                    </div>
                                </div>

                                <% if(typeof products !=='undefined' ){ %>
                                    <div class="product-widget mb-30">
                                        <h5 class="pt-title">Choose Brand</h5>
                                        <div class="widget-category-list mt-20">
                                            <form action="#">
                                                <%
                                                let brands = [];
                                                products.forEach(element=> { 
                                                brands.push(element.brand)

                                                });
                                                const brandName = Array.from(new Set(brands));
                                                brandName.forEach(name => {

                                                %>    
                                               
                                                    <div class="widget-category">
                                                        <input type="radio" onclick="categoryFilter('<%=name %>')" name="cat-item">
                                                        <label for="cat-item-1">
                                                            <%=name %>
                                                        </label>
                                                    </div>

                                                    <%  }); %>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-widget mb-30">
                                        <h5 class="pt-title">Special Offers</h5>
                                        <div class="product__sm mt-20">
                                            <ul>
                                                <% if(typeof products !=='undefined' ) for(let i=0; i<6 ; i++) { %>


                                                    <li class="product__sm-item d-flex align-items-center">
                                                        <div class="product__sm-thumb mr-20">
                                                            <a
                                                                href="/product-details?id=<%= products[i]._id %>&vId=<%= products[i].variants[0]._id %>">
                                                                <img src="/uploaded_Images/<%=products[i].imageName %>"
                                                                    alt="product image">
                                                            </a>
                                                        </div>
                                                        <div class="product__sm-content">
                                                            <h5 class="product__sm-title">
                                                                <a href="#">
                                                                    <%= products[i].name%>
                                                                </a>
                                                            </h5>
                                                            <% if(products.variants !=='undefined' ) {%>
                                                                <div class="product__sm-price">
                                                                    <span class="price">Starts from <%=
                                                                            products[i].variants[0].price %></span>
                                                                </div>
                                                                <% } %>
                                                        </div>
                                                    </li><br>
                                                    <% }; %>

                                            </ul>
                                        </div>
                                    </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="shop-banner mb-30">
                            <div class="banner-image">
                                <img class="banner-l" src="assets/img/banner/sl-banner.jpg" alt="">
                                <img class="banner-sm" src="assets/img/banner/sl-banner-sm.png" alt="">
                                <div class="banner-content text-center">
                                    <p class="banner-text mb-30">Hurry Up! <br> Free Shipping All Order Over $99</p>
                                    <a href="#" class="st-btn-d b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-lists-top">
                            <div class="product__filter-wrap">
                                <div class="row align-items-center">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter d-sm-flex align-items-center">
                                            <div class="product__col">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link active" id="FourCol-tab"
                                                            data-bs-toggle="tab" data-bs-target="#FourCol" type="button"
                                                            role="tab" aria-controls="FourCol" aria-selected="true">
                                                            <i class="fal fa-th"></i>
                                                        </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab"
                                                            data-bs-target="#FiveCol" type="button" role="tab"
                                                            aria-controls="FiveCol" aria-selected="false">
                                                            <i class="fal fa-list"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div
                                            class="product__filter-right d-flex align-items-center justify-content-md-end">
                                            <!--<div class="product__sorting product__show-no">
                                                <select>
                                                    <option>10</option>
                                                    <option>20</option>
                                                    <option>30</option>
                                                    <option>40</option>
                                                </select>
                                            </div>-->
                                            <div class="product__result pl-60">
                                                <p>Sort</p>
                                            </div>
                                            <div class="product__sorting product__show-position ml-20">
                                                <select id="sortingFunctions" style="opacity: .5; height: 2rem;" >
                                                    <option>All - Products</option>
                                                    <option>Top - Offer</option>
                                                    <option>Latest - Arrivel</option>
                                                    <option>Price - low to high</option>
                                                    <option>Price - high to low</option>
                                                    <option>Name - A to Z</option>
                                                    <option>Name - Z to A</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="productGridTabContent">
                            <div class="tab-pane fade  show active" id="FourCol" role="tabpanel"
                                aria-labelledby="FourCol-tab">
                                <div class="tp-wrapper">
                                    <div class="row g-0">
                                        <% if(!allVariants.length > 0) { %>
                                            <h2 class="mt-4 text-center">Searched product not found <i class="fa-brands fa-searchengin"></i></h2>

                                        <% } %>

                                        <% if(allVariants && allVariants.productID) %>
                                            <% allVariants.forEach(variant=> {
                                                let product = variant.productID
                                                 %>

                                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                                        <div class="product__item product__item-d">
                                                            <div class="product__thumb fix">
                                                                <div class="product-image w-img">
                                                                    <a
                                                                        href="/product-details?id=<%= product._id %>&vId=<%= variant._id %>">
                                                                        <img src="/uploaded_Images/<%= variant.imageName[0]%>"
                                                                            alt="products">
                                                                    </a>
                                                                </div>
                                                                <div class="product-action">
                                                                    <a href="/product-details?id=<%= product._id %>&vId=<%= variant._id %>"
                                                                         class="icon-box icon-box-1" >
                                                                     
                                                                        <i class="fal fa-eye"></i>
                                                                        <i class="fal fa-eye"></i>
                                                                    </a>
                                                                    <a onclick="addWishlistFunction('<%= variant._id %>')"  
                                                                        class="icon-box icon-box-1">
                                                                        <i class="fal fa-heart"></i>
                                                                        <i class="fal fa-heart" ></i>
                                                                             
                                                                    </a>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="product__content-3">
                                                                <h6><a href="/product-details?id=<%= product._id %>&vId=<%= variant._id %>">
                                                                        <%= product.name %><br>- <%= variant.variantName%>
                                                                            
                                                                    </a></h6>
                                                                <div class="rating mb-5">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                    <span>(01 review)</span>                                    
                                                                </div>

                                                                <% if(variant.offerDiscount) {%>
                                                                <span style="color: blue;"><i class="fa-solid fa-tag"></i>
                                                                    special <%=variant.offerDiscount%>&#37; 
                                                                    off </span>
                                                                <%} else{ %>
                                                                    <span style="visibility: hidden;">.</span>
                                                                <% } %>    

                                                                <div class="price mb-10">
                                                                    <span style="color: black;">
                                                                        <%= variant.price %> &#8377;
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="product__add-cart-s text-center">
                                                                <button type="button"class="cart-btn  mb-10 align-items-center justify-content-center w-100"
                                                                    
                                                                 id="cartBtn<%= variant._id %>"   onclick="addToCart('<%= variant._id %>')">Add to Cart </button>
                                                                    

                                                        <button type="button" class="stockClass wc-checkout d-flex align-items-center justify-content-center w-100" 
                                                                 data-stock="<%=variant.stock%>" data-variantid="<%= variant._id %>"  id="stockBtn<%= variant._id %>" 
                                                                data-block="<%=variant.block%>" >IN STOCK  </button>
                                                   
                                                                  
                                                              
                                                        </div>

                                                </div>

                                            </div>
                                        <% }) %>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tp-pagination text-center">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="basic-pagination pt-30 pb-30">
                                        <nav>
                                            <ul class="pagination">
                                                <% if(currentPage >1) { %>
                                                    <li  class="page-item">
                                                        <a class="page-link" href="?limit=<%= limit %>$skip=<%=(currentPage - 2) * limit%>">&laquo;</a>
                                                    </li>
                                                <%}%>

                                                <% for (let i=1; i <=totalPages; i++) { %>
                                               
                                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">

                                                    <a class="page-link w-50" href="?limit=<%= limit %>&skip=<%= (i - 1) * limit %>"><%= i %></a>

                                                </li>

                                                <% } %>

                                                <% if (currentPage < totalPages) { %>
                                                <li class="page-item">
                                                    <a class="page-link" href="?limit=<%= limit %>&skip=<%= currentPage * limit %>">&raquo;</a>
                                                </li>

                                                <% } %>
                                                <%/*%>
                                                <li>
                                                    <a href="shop.html">5</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html">6</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html">
                                                        <i class="fal fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                                <%*/%>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <!-- shop-area-end -->



    </main>



    <%- include('../layouts/userLayout/footer.ejs')%>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assets/js/digiCart/apiCalls.js"></script>
        <script src="assets/js/digiCart/shopAll.js"></script>