<%-include('../layouts/adminLayout/header.ejs')%>

<!--navbar-->

<%-include('../partials/navbar.ejs')%>

<!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">DigiCary</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item active" aria-current="page">All Products ></li>
                                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
								<li class="breadcrumb-item active" aria-current="page">Prodct Details</li>
                                <div class="col-auto">
                                   
                                </div>
							</ol>
						</nav>
					</div>
					</div>

    <div class="row g-3">

    <div class="d-flex align-items-center gap-4 justify-content-lg-end">
        <a href="/admin/allProducts"><button class="btn btn-filter px-4"><i class="bi bi-box-arrow-right me-2"></i>Go
                back</button>
            <a href="/admin/addProduct"><button class="btn btn-primary px-4"><i class="bi bi-plus-lg me-2"></i>Add
                    Products</button></a>
    </div>
    
</div><br><!--end row-->

   <!--header product show--> 
<div class="row row-cols-1 row-cols-xl-2">
         <% if(typeof product !== 'undefined') {   %> 
         
        <div class="col" id="row<%=product._id%>">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-4 border-end">
                <div class="p-3">
                  <img src="/uploaded_Images/<%= product.imageName  %>" class="w-100 rounded-start" alt="...">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><%= product.name %></h4>
                  <h6 class="card-title">Brand : <%= product.brand %></h6>
                  <%if(product.category && typeof product.category.name !== 'undefined'){ %>
                  <p class="card-text">Category : <%= product.category.name %></p> 
                 <% } %>
                  <div class="mt-2 d-flex align-items-center justify-content-center gap-5">

                        <a href="/admin/edit-product?id=<%= product._id %>"><button type="button" class="btn btn-primary">Edit</button></a>
                        <a href="/admin/addVariants?pId=<%= product._id %>"><button type="button" class="btn btn-warning px-4 raised d-flex gap-2">
                            <i class="material-icons-outlined">cloud_upload</i>Add Variant</button></a>
                        
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--second tryy-->
        
        <% }%>
        
 
      </div>

<!--variant items show-->

<div class="card mt-4">
    <div class="card-body">
        <div class="product-table">
            <div class="table-responsive white-space-nowrap">
                <table class="table align-middle">
                    <thead class="table-light">
                        <tr>
                            
                            <th>Variant Name</th>
                            <th>Price</th>
                            <th>Color</th>
                            <th>Details</th>
                            <th>Stock</th>                       
                            <th>Edit</th>
                            <th>Block</th>
                            <th>Delete</th>
                        </tr>               
                         
                           
                    </thead>
                    <tbody>

                        <%
                        if (typeof variant !=='undefined') {
                        if (variant.length > 0) {
        
                            variant.forEach(element => {
           
                        %>

                        <tr id="row<%= element._id%>">
 
                               
                               
                                    <td>
                                    <div class="d-flex align-items-center gap-3">
                                            <div class="product-box">
                                                 <a href="/admin/edit-variant?id=<%=element._id%> ">
                                            <img src="/uploaded_Images/<%= element.imageName[0]%>" width="70" class="rounded-3" alt="product image">
                                             </a>
                                            </div>
                                            <div class="product-info">
                                            <a href="javascript:;" class="product-title"><%=element.variantName %></a>

                                            </div>
                                           
                                    </div>
                                </td> 
                                 <td><%=element.price %></td>
                                 <td><%=element.color %></td>
                                 <td>RAM: <%=element.ram +',ROM : '+element.phoneMemory %>,<br>
                                     Size : <%= element.size %>
                                 </td>
                                 <td><%=element.stock %></td>
                               
                                <td> <a class="aLink" href="/admin/edit-variant?id=<%=element._id %>"><button type="button" class="btn btn-primary">Edit</button></a></td>
                                <td>
                                 <% if(element.block == false) { %>
                                   <button type="button" class="btn " style="background-color: red; " onclick="blockItem(this,'<%= element._id%>','variant')" >block</button>
                                    <% }else { %>
                                    <button type="button" class="btn " style="background-color: green;" onclick="blockItem(this,'<%= element._id%>','variant')" >unblock</button>
                                 <% } %>
                                </td>
                                <td> <button class="btn btn-danger" onclick="deleteItem('row<%= element._id%>','<%= element._id%>','variant')">delete</button> </td>
                             
                                
                              </tr>      
                           <%
                                    });                                     
                                

                              } 
                            }  
                            %>     

                             
 

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>
</main>

<%- include('../partials/sidebar.ejs')%>

    <!--start switcher-->
    <!--sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--bootstrap js-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
            <!--sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--plugins-->
    <script src="assets/js/jquery.min.js"></script>
    <!--plugins-->
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="assets/plugins/metismenu/metisMenu.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/category.js"></script>


</body>



</html>